/* Sticky footer styles
-------------------------------------------------- */
/* TODO:
 * - put all this stuff in style.css
 * - change fonts
 */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono&subset=cyrillic-ext,latin);

body {
  font-family: 'Ubuntu Mono', mono ;
  color: #444;
  font-size: 13pt;
}
h1,
h2,
h3,
h4,
h5,
h6 { font-weight: 300 }
*,
*:focus { outline: none !important }

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -150px;
  padding: 60px 0 150px;
}

#footer {
  padding: 40px 0;
  color: #ccc;
  text-align: center;
  background-color: #F42D32;
}
#footer a,
#footer a:hover,
#footer a:focus { color: #fff }
#footer .social { margin-bottom: 20px }
#footer .copyright { margin-bottom: 0 }

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
/*    background-color: #000;*/
}

.navbar-brand {
    font-weight: 700;
}

.navbar-brand:focus {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: #F42D32;
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #F42D32;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
    color: #F42D32;
}

.navbar-custom {
    background-color: #F42D32;
}

#wrap .social a:hover,
#wrap .social a:focus { color: #F42D32 }

/* Angular hide ng-cloak before it's loaded */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}


body.wait *, body.wait
{
    cursor: progress !important;
}

.red-background {
  background-color: #F42D32;
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
    .custom-modal {
        width: 70%; /* either % (e.g. 60%) or px (400px) */
    }
}