.top50 { margin-top:50px; }
.top70 { margin-top:70px; }
.top100 { margin-top:100px; }
.top150 { margin-top:150px; }
.top10 { margin-top:10px; }
.top30 { margin-top:30px; }

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
    background: url(http://s23.postimg.org/y7nv2camj/Cooking_image.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top:20px;
    text-align:center;
    background-attachment: relative;
    background-position: center center;
    min-height: 700px;
    width: 100%;
    
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
    color: white;
    font-size: 140px;
    font-weight: 700;
    letter-spacing: 3px;
}

#headerwrap h2 {
    color: white;
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 2px;
}

#headerwrap h3 {
    color: white;
    font-weight: 100;
}
#headerwrap h4 {
    color: white;
    font-weight: 100;
}




/* Navbar */

.navbar-default {
    background-color: #9b59b6;
    border-color: #8e44ad;
}
.navbar-default .navbar-brand {
    color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ecdbff;
}
.navbar-default .navbar-text {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ecdbff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ecdbff;
    background-color: #8e44ad;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ecdbff;
    background-color: #8e44ad;
}
.navbar-default .navbar-toggle {
    border-color: #8e44ad;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #8e44ad;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}
.navbar-default .navbar-link {
    color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
    color: #ecdbff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ecdbff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ecdbff;
        background-color: #8e44ad;
    }
}