{% extends "base.html" %}
{% load flatblock_tags %}
{% load staticfiles %}

{% block content %}

  <div class="container">
    <h2>Составление заказа</h2>
    <div>
      {% for menu in menus %}
        {% if menu.0 %}
          <h3>{{ menu.1 }}</h3>
          <div class="row">
            <ul class="nav nav-tabs">
            {% for menu_variant in menu.0 %}
              <li class="active"><a href="#menuVariant_{{ menu_variant.id }}" data-toggle="tab">Вариант {{ forloop.counter }}</a></li>
            {% endfor %}
            </ul>
            <div class="tab-content">
            {% for menu_variant in menu.0 %}
              <div class="tab-pane active" id="menuVariant_{{ menu_variant.id }}">
                <div>
              {% for dish in menu_variant.dishes.all %}
                {{ dish }}
              {% endfor %}
                </div>
                <div class="form-inline" role="form">
                  <div class="form-group">
                    <label class="sr-only" for="menuVariant_{{ menu_variant.id }}_cals">Email address</label>
                    <input type="number" class="form-control" id="menuVariant_{{ menu_variant.id }}_cals" placeholder="Калорий" value="600" min="200">
                  </div>
                  <button class="add_to_order btn btn-default">добавить</button>
                </div>
              </div>
            {% endfor %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>

  </div>


{% endblock %}

{% block onbodyload %}
    $('.add_to_order').click(function (e){
      e.preventDefault();
      var item = {id: "1", cals: $(this).parent().find('input')[0].value};
      var as_dict = {item_to_add: item}
      console.log(as_dict);
      $.get( "{% url 'apps:food_api:add_to_cart' %}", {item_to_add: JSON.stringify(item)}, function( data ) {
        if (data.success){
          alert(data);
        } else {
          alert('failller');
        };
      }, "json");
      var val = $(this).parent().find('input')[0].value;
      //alert(val);
    });
{% endblock %}