Django==1.6.5
PyMySQL==0.6.2
Pygments==1.6
South==0.8.4
bpython==0.13
django-allauth==0.16.1
django-flatblocks==0.8
django-sitemetrics==0.4.2
djangorestframework==2.3.13
djrill==1.0.0
gunicorn==18.0
oauthlib==0.6.1
python3-openid==3.0.4
requests==2.3.0
requests-oauthlib==0.4.0

Pillow==2.4.0
-e git+https://github.com/stefanfoulis/django-filer.git@develop#egg=django_filer
-e git+https://github.com/django-mptt/django-mptt.git#egg=django_mptt
easy-thumbnails==2.0.1


#dev
django-debug-toolbar==1.2.1
