<!-- <div description desc-slug="macro_weight_desc" desc-destination-id="description_div" ng-show>
                                    <h4>Введите ваш вес в коллограммах</h4>
                                    <p>например: 77.5</p>
                                    <p>Используется для расчета BMR, BMI, Waist-to-Height Ratio и TDEE
                                    </p>
                                </div> -->







<h4>Введите ваш рост в сантиметрах</h4>
                                    <p>например: 183.4</p>
                                    <p>Используется для расчета Basal Metabolic Rate(калории необходимые для поддержания обмена веществ, без учета активности),
                                    Body Mass Index(Индекс массы тела), Waist-to-Height Ratio(отношение талии к росту) и не напрямую для расчета Total Daily Daily Energy Expenditure(Дневной потребности калорий).</p>