{% extends 'angular_base.html' %}
{% load staticfiles %}

{% block body_attrs %}ng-app="macroApp"{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <h2>Расчет дневной потребности в калориях(TDEE)</h2>
        {% verbatim %}
            <div ng-controller="MacroTdeeCtrl">
                <div ng-cloak ng-show="ready" class="row">
                    <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                            <h3>Информация о вас:</h3>
                            <form class="form-horizontal" role="form" name="bodyForm">
                            <div class="form-group" description desc-slug="macro_weight_desc" desc-destination-id="description_div" ng-mouseenter="load_description()">
                                <label class="col-lg-4 control-label">вес</label>
                                <div class="col-lg-8 input-group">
                                    <input type="number" step="0.1" min="1" max="250" ng-model="body_data.weight" placeholder="в кг" class="form-control" required smart-float>
                                    <span class="input-group-addon">кг</span>
                                </div>
                            </div>
                            <h5 ng-class="bmr.current_method_id==0 && ' ' || 'text-muted'">для расчета методом "Mifflin St Jeor":</h5>
                            <div class="form-group" desc-slug="macro_height_desc" description desc-destination-id="description_div" ng-mouseenter="load_description()">
                                <label class="col-lg-4 control-label" ng-class="bmr.current_method_id==0 && ' ' || 'text-muted'">рост</label>
                                <div class="col-lg-8 input-group">
                                <input type="number" min="1" max="220" step="0.1" ng-model="body_data.height" placeholder="в см" class="form-control" required smart-float>
                                <span class="input-group-addon">см</span>
                                </div>
                            </div>
                            <div class="form-group" description desc-destination-id="description_div" desc-slug="macro_age_desc" ng-mouseenter="load_description()">
                                <label class="col-lg-4 control-label" ng-class="bmr.current_method_id==0 && ' ' || 'text-muted'">возраст</label>
                                <div class="col-lg-8 input-group">
                                <input type="number" min="1" max="100" integer ng-model="body_data.age" placeholder="сколько лет" class="form-control error" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label" ng-class="bmr.current_method_id==0 && ' ' || 'text-muted'">пол</label>
                                <div class="col-lg-8 input-group">
                                <input type="radio" ng-model="body_data.gender" value="m"> мужской
                                <input type="radio" ng-model="body_data.gender" value="f"> женский
                                </div>
                            </div>
                            <h5 ng-class="bmr.current_method_id==1 && ' ' || 'text-muted'">Для расчета методом "Katch-McArdle":</h5>
                            <div class="form-group" description desc-destination-id="description_div" desc-slug="macro_bfp_desc" ng-mouseenter="load_description()">
                                <label class="col-lg-4 control-label" ng-class="bmr.current_method_id==1 && ' ' || 'text-muted'">процент жира<a href="http://en.wikipedia.org/wiki/Body_fat_percentage" target="_blank">[3]</a></label>
                                <div class="col-lg-8 input-group">
                                <input type="text" ng-model="body_data.bfp" placeholder="в %" class="form-control" smart-float>
                                <span class="input-group-addon">%</span>
                                </div>
                                <div class="description" ng-show>

                                </div>
                            </div>
                            <hr>
                            <div class="form-group" description desc-destination-id="description_div" desc-slug="macro_activity_desc" ng-mouseenter="load_description()">
                                <label class="col-lg-4 control-label">активность<a href="http://en.wikipedia.org/wiki/Physical_activity_level" target="_blank">[2]</a></label>
                                <div class="col-lg-8 input-group">
                                <select type="text" ng-model="body_data.activity" ng-options="activity.name for activity in body_data.activity_options" class="form-control"></select>
                                </div>
                                <div class="description" ng-show>
                                    <ul>
                                        <li ng-repeat="activity in body_data.activity_options">
                                        <span class="lead">{[{ activity.name }]}</span>
                                        {[{ activity.description }]}; множитель:{[{ activity.mul}]}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <h2>Дневная норма калорий: <span ng-show="results.tdee">{[{ results.tdee | number:0 }]} ккал</span></h2>
                            <div class="text-danger" ng-show="!(results.tdee)">
                                <div ng-if="bmr.current_method_id==0">
                                введите вес, рост, возраст, пол
                                </div>
                                <div ng-if="bmr.current_method_id==1">
                                введите вес и процент жира
                                </div>
                             </div>
                            <div description desc-destination-id="description_div" ng-show>
                                <h4>Среднесуточная норма калорий</h4>
                                <p>Количество питательных веществ в день, необходимых для жизнедеятельности человека.</p>
                            </div>
                        </div>
                        <hr>
                        <h4>Описание:</h4>
                        <div id="description_div"></div>
                    </div>
                    <div class="col-md-4">
                        <h3>Данные:</h3>
                        <div class="row" description desc-destination-id="description_div" desc-slug="macro_bmr_desc" ng-mouseenter="load_description()">
                            <div class="col-md-8">
                            <h4>Метод расчета метаболизма<a href="http://en.wikipedia.org/wiki/Basal_metabolic_rate" target="_blank">[1]</a></h4>
                            <div ng-repeat="bmr_method in bmr.methods">
                                <input type="radio" value="{[{ $index }]}" name="{[{ $index }]}" ng-model="bmr.current_method_id" ng-click="set_bmr_method($index)" >
                                    {[{ bmr_method.name }]}
                            </div>
                            </div>
                            <div class="col-md-4">
                                <div ng-if="results.bmr">
                                    <h4>Метаболизм:</h4>
                                    <h3>{[{ results.bmr | number:0 }]} ккал</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row" description desc-destination-id="description_div" desc-slug="macro_tdee_desc" ng-mouseenter="load_description()">
                            <div class="col-md-8">
                            <h4>Дневная потребность калорий</h4>
                            <div class="form-group">
                                свое значение:
                                <input type="number" integer min="1" ng-model="results.tdee" class="form-control">
                            </div>
                            </div>
                            <div class="col-md-4" ng-show="results.tdee">
                                <h2 >{[{ results.tdee | number:0 }]} ккал</h2>
                            </div>
                        </div>
                    </div>
                    </div>
                    <br>
                </div>
            </div>
        {% endverbatim %}
    </div>
    <div class="row">
        <div class="col-md-1 col-md-offset-6">
        <a href="{% url 'home' %}" class="btn btn-primary pull-right">Перейти на главную</a>
        </div>
    </div>
    <br>
</div>
{% endblock %}

{% block tailjs %}
    {{ block.super }}
    <!-- custom scripts -->
    <script src="{% static "frontend/js/angular/macro_app/app.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "frontend/js/angular/macro_app/controllers.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "frontend/js/angular/macro_app/directives.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "frontend/js/angular/macro_app/services.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}