{% load flatblock_tags %}

<ul class="social list-inline ">
  <li>
    <a class="vkontakte" href="{% flatblock "socials_vk_group" using 'flatblocks/row.html'%}" title="Vkontakte" target="_blank">
      <i class="fa fa-vk fa-2x"></i>
    </a>
  </li>
  <li>
    <a class="twitter" href="http://www.twitter.com" title="Twitter" target="_blank">
      <i class="fa fa-twitter fa-2x"></i>
    </a>
  </li>
  <li>
    <a class="facebook" href="http://www.facebook.com" title="Facebook" target="_blank">
      <i class="fa fa-facebook fa-2x"></i>
    </a>
  </li>
  <li>
    <a class="google-plus" href="http://www.plus.google.com" title="Google+" target="_blank">
      <i class="fa fa-google-plus fa-2x"></i>
    </a>
  </li>
</ul>