{% extends "base.html" %}
{% load flatblock_tags %}
{% load webdesign %}
{% load staticfiles %}


{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static "frontend/css/index.css" %}" />
{% endblock %}

{% block navbarstyle %} no {% endblock %}
{% block content %}

    <div id="headerwrap">
        <div class="container">
            <div class="row top100">
              {% flatblock "index_head_row1" %}
            </div>
            <br>
            <div class="row textboard-grey">
                {% flatblock "index_head_row2" %}
            </div>
            <br>
            <div class="row">
              <div class="col-lg-8">
                <div>
                    {% if user.is_anonymous %}
                        {% include 'emailer/email_form.html' %}
                    {% endif %}
                </div>
              </div>
              <div class="col-lg-4">
              <div>


              </div>
                {% include 'partials/socials.html' %}
              </div>
            </div>
            <div class="page-scroll">
                <div class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated "></i>
                </div>
            </div>
        </div>
    </div>

        <section id="services" class="page">
      <div class="container">
        <div class="content text-center">
          <div class="heading">
            <h2>Что мы делаем</h2>
            <div class="border"></div>
            <p class="lead"><b>Мудрый обед </b>- это сервис доставки здоровой еды в Перми, сочетающий в себе абсолютный контроль над калорийностью и нутриентами пищи, свежие продукты и использование самых признаных рецептов. Мы позаботимся о планировании, подсчете питательных веществ и грамотном приготовлении, так что вы насладитесь здоровой едой без лишних усилий.</p>
          </div>
        </div>
      </div>
      </section>
    <section id="how" class="page">
      <div class="container">
        <div class="content text-center">
          <div class="row">
            <div class="col-lg-4 service animated hiding" data-animation="fadeInUp" data-delay="300">
              <i class="fa fa-edit fa-5x"></i>
              <h3>1. Определить суточную потребность в пище</h3>
              <p><a href="{% url 'macro:tdee' %}">Определить норму калорий</a> можно прямо при заказе или на странице расчета суточной потребности организма. Теперь заказывая еду, вы можете указать сколько в ней будет калорий.</p>
            </div>
            <div class="col-lg-4 service animated hiding" data-animation="fadeInUp" data-delay="600">
              <i class="fa fa-shopping-cart fa-5x"></i>
              <h3>2. Выбирать рацион на следущий день</h3>
              <p>Выбор из 2-3 вариантов завтрака, обеда и ужина. Возможность указать пожелания в пище, запретить определенные продукты. С нашим сервисом легко иметь индивидуальный рацион с первокласным вкусом. Сервис "Мудрый обед" полностью заменит вам персонального диетолога.
              </p>
            </div>
            <div class="col-lg-4 service animated hiding" data-animation="fadeInUp" data-delay="900">
              <i class="fa fa-car fa-5x"></i>
              <h3>3. Выбрать время и место доставки</h3>
              <p>Сейчас мы доставляем только в центр и индустриальный район. Доставка происходит в указаное вами время, с точностью {% flatblock 'index_delivery_precision' using 'flatblocks/row.html' %}.</p>
            </div>
          </div>
          <div class="row">
          <button class="btn btn-danger btn-lg" disabled="disabled">Заказать</button>
          </div>
          <br>
        </div>
      </div>
    </section>


    <section id="compare" class="page">
      <div class="container">
        <div class="content text-center">
          <div class="heading">
            <h2>Сравните нас с остальными</h2>
            <div class="border"></div>
            <p><i>"Я то, что я ем"</i> гласит одна поговорка. Не стоит это забывать. А существующие в Перми сервисы доставки еды настолько сосредоточились на извлечении прибыли, что совершенно забыли о здоровье покупателей.</p>
            <p>Наш сервис <b>{{ default_title }}</b> ставит своей целью заботу о вашем здоровье.
          </div>
          <div class="row">
            <div class="col-md-7 teammate animated hiding" data-animation="fadeInLeft" data-delay="600">
              <div class="photo-rounded img-thumbnail">
                <img class="img-responsive" src="{% static 'frontend/img/Anaem.jpg' %}" alt="">
              </div>
              <div class="bio">
                <h2>Мудрый обед</h2>
                <div class="border"></div>
                <p>Сбалансированная здоровая еда</p>
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Калории</td>
                      <td><i class="fa fa-check"></i></td>
                      <td>Персонально</td>
                    </tr>
                    <tr>
                      <td>Белки&middot;жиры&middot;углеводы</td>
                      <td><i class="fa fa-check"></i></td>
                      <td>Норма</td>
                    </tr>
                    <tr>
                      <td>Клетчатка</td>
                      <td><i class="fa fa-check"></i></td>
                      <td>Норма</td>
                    </tr>
                    <tr>
                      <td>Микроэлементы</td>
                      <td><i class="fa fa-check"></i></td>
                      <td>Норма</td>
                    </tr>
                    <tr>
                      <td>Разнообразие</td>
                      <td><i class="fa fa-check"></i></td>
                      <td>Всегда что-то новое</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-5 teammate animated hiding" data-animation="fadeInUp" data-delay="300">
              <div class="photo-rounded">
                <img class="img-responsive img-thumbnail" src="{% static 'frontend/img/pizza1.jpg' %}" alt="">
              </div>
              <div class="bio">
                <h3>Пиццерии, суши и другие сервисы доставки.</h3>
                <div class="border"></div>
                <p>Превалирует однообразие, регулярное потребление несёт угрозу для здоровья.</p>
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Калории</td>
                      <td><i class="fa fa-exclamation-triangle"></i></td>
                      <td>Невозможно подсчитать, часто избыток</td>
                    </tr>
                    <tr>
                      <td>Белки&middot;жиры&middot;углеводы</td>
                      <td><i class="fa fa-exclamation-triangle"></i></td>
                      <td>Недостаток белков, много жиров, много быстрых углеводов</td>
                    </tr>
                    <tr>
                      <td>Клетчатка</td>
                      <td><i class="fa fa-times"></i></td>
                      <td>Почти нет клетчатки</td>
                    </tr>
                    <tr>
                      <td>Микроэлементы</td>
                      <td><i class="fa fa-times"></i></td>
                      <td>Недостаточно</td>
                    </tr>
                    <tr>
                      <td>Разнообразие</td>
                      <td><i class="fa fa-times"></i></td>
                      <td>Всегда одно и тоже</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section id="fitures" class="page">
      <div class="container">
        <div class="content text-center">
          <div class="heading">
            <h2>Что вы получите</h2>
            <div class="border"></div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="photo-rounded">
                <img class="img-responsive" src="assets/img/team/1.jpg" alt="">
              </div>
              <div>
                <h4>Cнятие стресса и постоянных переживаниях о питании</h4>
                <div class="border"></div>
                <p>90% людей считают, что питаются неправильно, многие переживают по этому поводу, наш сервис избавит вас от этого гнетущего чувства.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="photo-rounded">
                <img class="img-responsive" src="assets/img/team/2.jpg" alt="">
              </div>
              <div class="bio">
                <h4>Clarinda Gratia</h4>
                <h5>Designer</h5>
                <div class="border"></div>
                <p>Lorem ipsum dolor sit, consetetur sadipscing elitr, diam nonumy eirmod tempor invidunt ut labore.</p>
                <ul class="list-inline">
                  <li>
                    <a href="http://www.dribbble.com" title="Dribbble">
                      <i class="fa fa-dribbble"></i>
                    </a>
                  </li>
                  <li>
                    <a href="http://www.pinterest.com" title="Pinterest">
                      <i class="fa fa-pinterest"></i>
                    </a>
                  </li>
                  <li>
                    <a href="http://www.instagram.com" title="Instagram">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="photo-rounded">
                <img class="img-responsive" src="assets/img/team/3.jpg" alt="">
              </div>
              <div class="bio">
                <h4>Mandeep Eimear</h4>
                <h5>Mobile Developer</h5>
                <div class="border"></div>
                <p>Lorem ipsum dolor sit, consetetur sadipscing elitr, diam nonumy eirmod tempor invidunt ut labore.</p>
                <ul class="list-inline">
                  <li>
                    <a href="http://www.twitter.com" title="Twitter">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="http://developer.android.com/index.html" title="Android Developers">
                      <i class="fa fa-android"></i>
                    </a>
                  </li>
                  <li>
                    <a href="http://www.stackoverflow.com" title="Stack Overflow">
                      <i class="fa fa-stack-overflow"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="twitter text-center">
        <div class="animated hiding" data-animation="fadeIn">
          <i class="fa fa-twitter fa-3x"></i>
          <div id="feed"></div>
        </div>
      </div>
    </section>




    <div class="container" id="main_text">
        <h2>Умный сервис доставки здоровой пищи в Перми. Мы считаем калории за вас.<h2>
        <h2>Здоровое питание в Перми</h2>

        <h3>Рацион составленный профессональными диетологами<h3>
        <h3>Подсчет каллорий, микро и макро-нутриентов.</h3>

        <h3>Открытие июль-август 2014</h3>

    </div>
{% endblock %}
{% block extrajs %}
{% endblock %}
{% block onbodyload %}
    {% include 'emailer/script.js' %}
    $('.page-scroll').click(function() {
        $('html, body').animate({
            scrollTop: $("#services").offset().top-60
        }, 500);
    });



    //jQuery to collapse the navbar on scroll
    $(window).scroll(function() {
        if ($(".navbar").offset().top > 50) {
            $(".navbar-fixed-top").addClass("top-nav-collapse");
        } else {
            $(".navbar-fixed-top").removeClass("top-nav-collapse");
        }
    });
{% endblock %}
{% block tailjs %}
{% endblock %}
